#contact-wrapper {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-content: center;
    text-align: center;

    margin-top: 50px;
}

#contact-wrapper > h2 {
    font-weight: bold;
    font-size: 30px;

    margin-top: 20px;
    margin-bottom: 10px;
}

#contact-wrapper > ul {
    display: flex;
    flex-direction: row;

    justify-content: center;
    align-content: center;
    text-align: center;

    list-style-type: none;
    margin: 0;
    padding: 0;

    gap: 20px;
}