.project-entry {
    border-radius: 10px;
    border-color: #323131;
    border-style: solid;
    align-content: center;
    display: flex;

    width: 500px;
    height: 100%;
}

.project-text-area {
    margin-top: 10px;
    align-content: center;
    flex-direction: column;
}

.project-image {
    margin: 10px;
    object-fit: cover;
    max-width: 150px;
    height: 100%;

    border-radius: 10px;

}

.project-links {
    padding-top: 20px;
}

.project-link {
    text-decoration: none;
    color: #fff;

    background: #2596be;


    text-align: center;
}

.project-link:hover {
    background: #1b6a8c;
}
